<template>
  <div class="xs:w-full sm:w-full w-64 bg-secondary font-mono">
    <div
      class="xs:h-12 sm:h-12 h-full xs:m-0 sm:m-0 mt-24 flex flex-col xs:flex-row sm:flex-row"
    >
      <div
        class="xs:hidden sm:hidden text-xl mb-8 font-mono px-4 text-textPrimary text-center flex-initial"
      >
        <p>Hey !</p>
      </div>
      <div class="flex-initial">
        <img
          class="rounded-full xs:mt-2 sm:mt-2 xs:w-8 sm:w-8 w-32 xs:h-8 sm:h-8 h-32 xs:ml-4 sm:ml-4 mx-auto bg-auto bg-center"
          :src="getSelectedProfilePicture"
          alt="Profile"
        />
      </div>
      <div
        class="xs:text-sm sm:text-sm text-2xl mt-4 font-mono px-4 text-textPrimary md:text-center lg:text-center xl:text-center xxl:text-center flex-initial"
      >
        <p>{{ getSelectedFirstName }}</p>
      </div>
      <div class="xs:mt-0 sm:mt-0 mt-8 text-center flex-1">
        <div class="flex xs:flex-row sm:flex-row flex-col">
          <div class="w-full xs:pt-2 sm:pt-2 xs:pr-4 sm:pr-4">
            <button
              class="bg-buttonPrimary xs:float-right sm:float-right shadow-neumorphic text-white font-bold xs:text-xs sm:text-xs text-sm py-2 xs:px-2 sm:px-2 px-8 rounded-lg focus:outline-none focus:shadow-outline"
              type="button"
              @click="showUser"
              v-if="!showList"
            >
              Change User
            </button>
          </div>
          <div
            v-if="showList"
            class="w-full xs:mt-3 sm:mt-3 xs:px-0 sm:px-0 px-4"
          >
            <select
              class="w-full text-center"
              @change="changeUser('change', $event)"
            >
              <option />
              <option
                class="text-sm"
                v-for="user in getUserList"
                :key="user.userId"
                :value="user.userId"
                ><span>{{ user.firstName }}</span></option
              >
            </select>
          </div>
          <div v-if="showList" class="w-full xs:mt-2 sm:mt-2 mt-8">
            <button
              class="bg-buttonPrimary shadow-neumorphic text-white font-bold xs:text-xs sm:text-xs text-sm py-2 px-8 rounded-lg focus:outline-none focus:shadow-outline"
              type="button"
              @click="hideUser"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js" />
