<template>
  <div
    class="font-mono bg-secondary text-textPrimary rounded-lg flex flex-col p-4 cursor-pointer"
  >
    <div class="flex flex-row" @click="routeToArticle">
      <div class="w-1/2">
        <p class="text-2xl truncate ...">{{ article.title }}</p>
      </div>
      <div class="w-1/2 text-xs pt-4 text-right">
        <p>{{ formattedDate(article.timeStamp) }}</p>
      </div>
    </div>
    <div class="w-64" @click="routeToArticle">
      <p class="text-textPrimary truncate ...">{{ article.text }}</p>
    </div>
    <div class="w-full">
      <div class="flex flex-row-reverse">
        <div class="w-1/4 mt-4 py-2 z-50">
          <p class="float-right font-sm font-bold">
            Likes: {{ article.likes }}
            <span class="cursor-pointer" @click="clickLikeHandler(article)">
              <img class="h-6 w-6 inline" src="../../assets/heart.svg" />
            </span>
          </p>
        </div>
        <div class="w-3/4 mt-4 py-2" @click="routeToArticle">
          <p
            class="font-sm font-bold rounded-md"
            v-if="article.author && article.author.firstName"
          >
            <span class="bg-buttonPrimary text-white px-4 rounded-md py-2"
              >By: {{ article.author.firstName }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js" />
