<template>
  <div class="flex flex-col h-screen">
    <div class="w-full my-8 flex-initial">
      <div class="flex flex-row-reverse">
        <div class="w-1/2">
          <nuxt-link
            class="float-right bg-buttonPrimary shadow-neumorphic text-white font-bold text-sm py-2 px-8 rounded-full focus:outline-none focus:shadow-outline"
            to="/"
          >
            Go Home
          </nuxt-link>
        </div>
        <div class="w-1/2">
          <p class="text-textPrimary font-mono font-medium text-2xl">
            Add Article
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex-1 overflow-auto">
      <form class="pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
            >Title</label
          >
          <input
            class="appearance-none rounded-md border w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
            id="title"
            type="text"
            placeholder="Title"
            v-model="newTitle"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 flex-auto text-sm font-bold mb-2"
            for="password"
            >Description</label
          >
          <div class="flex-1 mt-2">
            <textarea
              class="w-full rounded-md p-4 border-0 min-h-auto overflow-auto resize-y focus:outline-none focus:shadow-outline"
              placeholder="Enter Description"
              rows="24"
              v-model="newDesc"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="w-full flex-initial my-4">
      <button
        class="float-right bg-buttonPrimary shadow-neumorphic text-white font-bold text-sm py-2 px-8 rounded-lg focus:outline-none focus:shadow-outline"
        type="button"
        @click="clickHandler"
      >
        Submit
      </button>
    </div>
  </div>
</template>

<script src="./index.js" />
