<template>
  <div
    class="flex xs:flex-col sm:flex-col flex-row min-h-screen bg-primary overflow-hidden"
  >
    <SideBar />
    <div class="w-full px-8">
      <nuxt />
    </div>
  </div>
</template>
<script>
import SideBar from "../components/Sidebar/index.vue";
export default {
  components: {
    SideBar
  }
};
</script>
