<template>
  <div class="flex flex-col h-screen">
    <div class="w-full my-8 flex-initial">
      <div class="flex flex-row-reverse">
        <div class="w-1/2">
          <nuxt-link
            class="float-right bg-buttonPrimary shadow-neumorphic text-white font-bold text-sm py-2 px-8 rounded-full focus:outline-none focus:shadow-outline"
            to="/"
          >
            Go Home
          </nuxt-link>
        </div>
        <div class="w-1/2">
          <p
            v-if="article"
            class="text-textPrimary font-mono font-medium text-2xl truncate ..."
          >
            {{ article.title }}
          </p>
          <p
            v-if="article"
            class="text-textPrimary font-mono font-medium text-xs truncate ..."
          >
            Posted on: {{ formattedDate(article.timeStamp) }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex-1 overflow-auto">
      <div class="mb-6">
        <div class="flex-1 mt-2 pr-2">
          <p class="break-all ..." v-if="article">{{ article.text }}</p>
          <p v-else>No article for you</p>
        </div>
      </div>
    </div>
    <div class="w-full flex-initial my-4">
      <p v-if="article" class="text-textPrimary">Likes: {{ article.likes }}</p>
    </div>
  </div>
</template>

<script src="./index.js" />
