<template>
  <div class="flex flex-col max-h-screen">
    <div class="w-full flex-initial my-8">
      <div class="flex flex-row-reverse">
        <div class="w-1/2">
          <nuxt-link
            class="float-right bg-buttonPrimary shadow-neumorphic text-white font-bold text-sm py-2 px-8 rounded-full focus:outline-none focus:shadow-outline"
            to="/addarticle"
          >
            Add Article
          </nuxt-link>
        </div>
        <div class="w-1/2">
          <p class="text-textPrimary font-mono font-medium text-2xl">
            Articles
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex-initial mb-8 w-full" v-if="articles.length != 0">
      <div class="flex flex-row">
        <div class="w-1/2">
          <p class="font-mono text-textPrimary text-xl">Sort by:</p>
        </div>
        <div class="w-1/2">
          <button
            class="float-right ml-4 bg-buttonPrimary shadow-neumorphic text-white font-bold text-xs py-2 px-2 rounded-lg focus:outline-none focus:shadow-outline"
            type="button"
            @click="changeMode"
          >
            <span v-if="mode != 'asc'">Low to High</span>
            <span v-else>High to Low</span>
          </button>
          <select
            class="float-right mt-1"
            @change="changeSort('change', $event)"
          >
            <option value="latest-post">Latest Post</option>
            <option value="likes">Likes</option>
          </select>
        </div>
      </div>
    </div>
    <div
      class="w-full flex-1 overflow-auto mb-8 w-full"
      v-if="articles.length == 0"
    >
      <p class="font-mono text-textPrimary text-2xl">No articles yet!</p>
    </div>
    <div class="w-full flex-1 overflow-auto mb-8 w-full" v-else>
      <div v-for="article in returnSortedList" :key="article.key" class="mb-4">
        <Card :article="article" />
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import _ from "lodash";
import { mapGetters } from "vuex";
import SideBar from "../components/Sidebar/index.vue";
import Card from "../components/Card/index.vue";

export default {
  layout: "layout",
  components: {
    moment,
    Card,
    SideBar
  },
  data() {
    return {
      sortby: "latest-post",
      mode: "desc"
    };
  },
  computed: {
    ...mapGetters({
      getUserList: "getUserList",
      articles: "getArticles"
    }),
    returnSortedList() {
      let field = "timeStamp";
      if (this.sortby == "latest-post") {
        field = "timeStamp";
      } else {
        field = "likes";
      }
      return _.orderBy(this.articles, field, this.mode);
    }
  },
  methods: {
    changeSort(type, event) {
      this.sortby = event.target.value;
    },
    changeMode() {
      if (this.mode == "asc") {
        this.mode = "desc";
      } else {
        this.mode = "asc";
      }
    }
  }
};
</script>
